home/.vim/.netrwhist
home/.zsh/cache
home/.config/fish/fish_history
home/.config/fish/fish_read_history
home/.config/fish/fishd.*
home/.atom/storage
home/.atom/.node-gyp
home/.atom/compile-cache
home/.atom/config.cson
home/.thefuck/*.pyc
home/.config/karabiner/automatic_backups/
