[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vim-align"]
	path = home/.vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/vim-haml"]
	path = home/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = https://github.com/duien/vim-markdown.git
[submodule "home/.vim/bundle/VimClojure"]
	path = home/.vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "home/.vim/bundle/vim-less"]
	path = home/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
