[user]
	email = price.emily@gmail.com
	name = Emily Hyland
[color]
  ui = auto
[pull]
  default = matching
 [push]
   default = simple
[core]
  excludesfile = ~/.gitignore
  editor = vim
[alias]
  vis = "log --graph --pretty=format:\"%C(yellow bold)%h%Creset by %C(red)%an%Creset (%ar)%C(blue bold)%d%Creset%n%s%n%b\" --all"
  history = "log --oneline --decorate --all --graph"
  hist = "log --oneline --decorate --all --graph"
	co = checkout
  pr = "pull --rebase"
  wdiff = "diff --color-words"
  ammend = commit --amend
[format]
  pretty = format:%C(yellow)%h %C(red)%aN%Creset %C(blue)%d%Creset %s
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[github]
  user = duien
[branch]
  autosetupmerge = always
[mailmap]
  file = /Users/eprice/.gitmailmap
[credential]
	helper = osxkeychain
[hub]
	protocol = https
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
