[user]
	email = hello@duien.com
	name = Emily Hyland
	email = ehyland@newrelic.com
[color]
  ui = auto
[pull]
  default = matching
 [push]
	default = simple
[core]
  excludesfile = ~/.gitignore
  editor = vim
[alias]
  vis = "log --graph --pretty=format:\"%C(yellow bold)%h%Creset by %C(red)%an%Creset (%ar)%C(blue bold)%d%Creset%n%s%n%b\" --all"
  hist = "log --oneline --decorate --graph"
	co = checkout
  pr = "pull --rebase"
  wdiff = "diff --color-words"
  amend = commit --amend --no-edit
  cached = diff --cached
  stat = diff --stat
	patch = add --patch
[format]
  pretty = format:%C(yellow)%h %C(red)%aN%Creset %C(blue)%d%Creset %s %C(magenta)(%ar)
[difftool "Kaleidoscope"]
	cmd = "ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\""
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
  algorithm = patience
[github]
  user = duien
[branch]
  autosetupmerge = always
	autosetuprebase = always
[mailmap]
  file = /Users/eprice/.gitmailmap
[credential]
	helper = osxkeychain
[hub]
	protocol = https
[mergetool "Kaleidoscope"]
	cmd = "ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot"
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
