@import "ui-variables";
@modified-icon-width: 8px;
@tab-top-padding: 6px;
@tab-bottom-border-height: @tab-top-padding;

.tab-bar {
  height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
  background: @tab-bar-background-color;
  padding: 0 @tab-top-padding 0 @tab-top-padding;
  box-sizing: border-box;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: @tab-bottom-border-height;
    left: 0px;
    width: 100%;
    background-color: @tab-border-color;
  }

  .tab {
    position: relative;
    top: @tab-top-padding;
    height: @tab-height;
    line-height: @tab-height;
    color: @text-color;
    background-color: #333;
    border-radius: (@tab-top-padding / 3) (@tab-top-padding / 3) 0 0;

    padding-left: 0; // hack, part 1

    margin-right: @tab-top-padding;
    border: none;

    .close-icon {
      z-index: 3;
      right: 5px;
      line-height: @tab-height;
    }
    &.modified:not(:hover) .close-icon {
      top: @tab-height/2 - @modified-icon-width/2 + 1px;
      width: @modified-icon-width;
      height: @modified-icon-width;
    }

    .title{
      padding-left: 10px; // hack, part 2
    }
  }

  .tab.active {
    z-index: 10;
    line-height: @tab-height - 3px;
    color: @text-color-highlight;
    border: none;

    background-color: #484848;

    .title{
      position: relative;
      top: 1px;
    }

    .close-icon {
      line-height: @tab-height - 1px;
    }
  }

  .tab:hover {
    color: @text-color-highlight;
  }

  .tab.active:hover .close-icon {
    color: @text-color-highlight;
  }

  .placeholder {
    height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    &:after {
      top: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    }
  }
}
