'exception-reporting':
  'userId': '71c26210-a1a7-6854-55d6-2e6d25f32095'
'release-notes':
  'viewedVersion': '0.65.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '6162d00349c199248ff6e716be3f500e5d2c0ac1'
'editor':
  'fontSize': 16
  'fontFamily': 'Source Code Pro for Powerline'
'core':
  'themes': [
    'atom-dark-flat-ui'
    'bird-of-paradise-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/eprice/Code'
  'disabledPackages': [
    'language-haml'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'tree-view':
  'hideIgnoredNames': true
