"*":
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "atom-jshint"
      "linter-rubocop"
      "language-haml"
      "angularjs"
      "atom-handlebars"
      "minimap-bookmarks"
      "org"
      "language-jsx"
      "project-palette-finder"
      "autocomplete-plus"
      "omni-ruler"
      "file-type-icons"
      "vim-mode"
      "vim-mode-plus"
      "pigments"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".projectile"
    ]
    projectHome: "/Users/eprice/Code"
    themes: [
      "one-dark-ui"
      "itg-light-syntax"
    ]
  editor:
    fontFamily: "'Operator Mono SSm'"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "71c26210-a1a7-6854-55d6-2e6d25f32095"
  "file-icons":
    coloured: false
  "git-diff": {}
  "git-log":
    fontScale: 1
  gruvswitch:
    mode: "light"
  "isotope-ui":
    customBackgroundColorPicker:
      alpha: 1
      blue: 25
      green: 2
      red: 36
    fontFamily: "System Default"
    fontWeight: "Regular"
  linter:
    gutterEnabled: false
    gutterPosition: "Left"
    showErrorInline: false
    showErrorTabFile: false
    showErrorTabProject: false
    showHighlighting: false
    showHightlighting: false
    statusBar: "Show error of the selected line"
    statusIconScope: "File"
  "linter-eslint": {}
  metrics:
    userId: "6162d00349c199248ff6e716be3f500e5d2c0ac1"
  minimap:
    plugins:
      bookmarks: true
  "omni-ruler":
    columns: [
      73
      80
      80
      100
    ]
  "one-dark-ui": {}
  pigments:
    ignoredScopes: [
      "\\.comment|\\.gfm"
    ]
    markerType: "dot"
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  tabs:
    usePreviewTabs: true
  tasks:
    baseMarker: "_"
    cancelledMarker: "×"
    completeMarker: "*"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
