@import "ui-variables";
@import "syntax-variables";

/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {
//   font-family: 'Source Code Pro'; // TODO Find a way to reference configured font
//   font-size: 12px;
//   // font-weight: 300;
// 
  li.list-nested-item.directory > .list-item {
    font-weight: 600;
  }
}
  
atom-text-editor, atom-text-editor::shadow, :host {
  font-weight: 300;

  .lines {
    margin-left: 0.25em;
  }
  .gfm {
  //   // font-weight: 300;
    .heading {
      font-weight: 600;
    }
  //   .source {
  //   }
  }
  .comment {
    font-style: italic;
  }

  .gutter {
    .line-number {
      font-weight: 100;

      &.cursor-line {
        // font-weight: 600;
      }
    }
  }

  // Shift indent guides to align vertically with center of column
  .indent-guide {
    @indent-offset: 4px; // This might need tweaking depending on font and size
    @guide-width: 1px;
    box-shadow: none;
    background: linear-gradient(90deg, // replace box-shadow with gradient
      transparent,
      transparent @indent-offset,
      @syntax-indent-guide-color @indent-offset,
      @syntax-indent-guide-color @indent-offset + @guide-width,
      transparent @indent-offset + @guide-width)
  }

  .invisible-character { // hide most invisibles
    color: transparent;
  }
  .trailing-whitespace { // Just show trailing whitespace
    color: fade(red, 50);
  }
}

// Don't color icons in the tree view (but do color them elsewhere)
.tree-view {
  .icon:before {
    color: inherit !important;
  }
}

// More visible coloring of added/changed lines
atom-text-editor.is-focused,
atom-text-editor.is-focused::shadow,
:host(.is-focused) {
  .gutter .line-number {
    &.git-line-added {
      background: fade(@syntax-color-added, 10);
    }
    &.git-line-modified {
      background: fade(@syntax-color-modified, 10);
    }
  }
}


// THEME-SPECIFIC SETTINGS

.theme-isotope-ui {
  .tab-bar {
    // Tabs were escaping their visual bounds by 1px on each side of the tab bar,
    // and it was driving me nuts
    margin: 0 1px;
  }
}

.theme-flanderized-ui, .theme-outlander-ui {
  // Match the tab in Flanderized to the syntax theme
  .tab-bar .tab.active, .tab-bar .tab.active::before, .tab-bar .tab.active::after, .tab-bar::after {
    background-color: @syntax-background-color;
    // background-color: red;
  }
}

.theme-summerfruit-theme {
  atom-text-editor, atom-text-editor::shadow, :host {
    // An indented comment
    .comment {
      background-color: transparent;
      &:not(.leading) {
        background-color: #dbf3cd;
        // background-color: lighten(#FFF92D, 25);
        // color: gray;
      }
    }
  }
}

.theme-solarized-light-syntax.theme-flanderized-ui {
  @yellow:  #b58900;
  @orange:  #cb4b16;
  @red:     #dc322f;
  @magenta: #d33682;
  @purple:  #6c71c4;
  @blue:    #268bd2;
  @cyan:    #2aa198;
  @green:   #859900;

  atom-text-editor, atom-text-editor::shadow, :host {
    .indent-guide {
      &:nth-child(1)    { box-shadow: none !important; }
      &:nth-child(8n-6) { box-shadow: inset 1px 0 fade(@yellow,  15); }
      &:nth-child(8n-5) { box-shadow: inset 1px 0 fade(@blue,    15); }
      &:nth-child(8n-4) { box-shadow: inset 1px 0 fade(@red,     15); }
      &:nth-child(8n-3) { box-shadow: inset 1px 0 fade(@green,   15); }
      &:nth-child(8n-2) { box-shadow: inset 1px 0 fade(@purple,  15); }
      &:nth-child(8n-1) { box-shadow: inset 1px 0 fade(@orange,  15); }
      &:nth-child(8n)   { box-shadow: inset 1px 0 fade(@cyan,    15); }
      &:nth-child(8n+1) { box-shadow: inset 1px 0 fade(@magenta, 15); }
    }
    .trailing-whitespace {
      color: fade(@red, 50);
    }
  }
}

.theme-paraiso-light {
  @added: #48b685;
  @modified: #f99b15;
  @removed: #ef6155;

  .invisible-character {

    // Whitespace
    &.trailing-whitespace {
      color: #ef6155;
    }
  }

  // Line numbering and active line
  .gutter .line-number {
    &.cursor-line { background: #b9b6b0; }
    &.git-line-added {
      border: none;
      padding-left: 0.5em;
      background: fade(@added, 50%);
      &.cursor-line { background: fade(@added, 75%); }
    }
    &.git-line-modified {
      border: none;
      padding-left: 0.5em;
      background: fade(@modified, 50%);
      &.cursor-line { background: fade(@modified, 75%); }
    }
    &.git-line-removed:before {
      border-left-color: @removed;
    }
  }

  // General style tweaking
  .entity.name.function {
    color: #5bc4bf;
  }

  .constant.other.symbol {
    color: #06b6ef;
    .punctuation { 
      color: #06b6ef;
    }
  }

  .string.quoted .punctuation.definition {
    color: #48b685;
  }
  
  .variable .punctuation {
    color: #ef6155;
  }

}

.theme-kuali-light-syntax {
  atom-text-editor, atom-text-editor::shadow, :host {
    // TODO Make todo comments stand out
    // FIXME It's hard to see fixme comments
    // And the continaution isnt' fancy
    .comment .type {
      text-decoration: underline;
      
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: fade(#f39c12, 10%);
        // height: @font-size * 5/3;
      }
    }
  }
}
