/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.tree-view {
  font-family: 'M+ 2m';
  font-weight: 300;

  li.list-nested-item.directory > .list-item {
    font-weight: 600;
  }
}

.editor {
  font-weight: 300;
  .gfm {
    font-weight: 300;
    .heading {
      font-weight: 600;
    }
    .source {
    }
  }
}

.gutter {
  .line-number {
    font-weight: 100;

    &.cursor-line {
      font-weight: 500;
    }
  }
}

.editor .cursor {

}
